#ing_addatm_button {
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 30px;
}

#ing_parent_city{
	width: 250px;
    height: 40px;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0px; 
    border: 1px solid transparent;
}

.ing_welcome_content {
	margin-top: 20px;
}
.ing_atmlist_form{
	margin-top: 40px;
}
.ingviewatm_content{
	margin-top: 60px;
    margin-left: 50px;
}

.ing_city_inputlabel{
	margin-bottom: 30px;
}

#ing_cityatms_tabel{
	width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
}

.ing_city_form{
margin-top: 60px;
    margin-left: 150px;
}
    
#ing_parent_city_label{
        padding-left: 80px;
    font-size: medium;
}

.ing_createingatm_form_buttons{
	margin-top: 50px;
}
.ing_city_form {
	margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
}

#ing_atmlist_save{
	margin-left: 200px;
}

#ing_login_form_content{
	margin-top: 100px;
}

#ing_login_form input{
	    width: 200px;
}

.ing_welcome_message{
	margin-top: 60px;
}

.ing_welcome_cover{
	width: 800px;
    height: 200px;
    margin-left: 250px;
}

#ing_welcome_viewatms_button{
    margin-top: 50px;
    margin-left: 550px;
}